<header id="header" class="parent justify-spaceBetween">
  <div class="inner w100 relative">
    <span class="f-left">  
      <a href="/">
        <h1>
          Richard Kelley
        </h1>
      </a>
    </span>
    <span id="nav-links" class="absolute right bottom">
      <a href="/videos" title="Videos">Videos</a>
      <a href="/publications" title="Publications">Publications</a> 
      <a href="/data" title="Data">Data</a> 
      <a href="/blog" title="Blog">Blog</a> 
      <a href="/courses" title="Courses">Courses</a> 
      <a href="/software" title="Software">Software</a> 
    </span>
  </div>
</header>
